@import "~antd/dist/antd.css";

#pokemon-page-wrapper .ant-back-top-content {
  background-color: #1088e9;
}

.logo {
  width: 240px;
  height: 110px;
  background-image: url("./pokemon-logo.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.pokemon-list {
  padding-top: 20px;
}

.pokemon-list h4.ant-typography,
.ant-typography h4 {
  margin-bottom: 0.2em;
}

.pokemon-list .pokemon-name,
.pokemon-detail .pokemon-name {
  text-transform: capitalize;
}

.pokemon-list .pokemon-types,
.pokemon-detail .pokemon-types {
  text-transform: capitalize;
}

.pokemon-list .pokemon-habitat-label {
  font-weight: bold;
  font-size: 12px;
  text-transform: capitalize;
}

.pokemon-detail .ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  background: #364d79;
  overflow: hidden;
}

.pokemon-detail .ant-carousel .slick-slide img {
  display: inline-block;
  width: 30%;
}

.pokemon-detail .pokemon-stats-label {
  text-transform: capitalize;
}

.font-bold {
  font-weight: bold;
}

.loader {
  text-align: center;
}
